.skeletons {
  display: flex;
  margin: 0 -2%;

  &.isMobile {
    .skeleton {
      width: 29.33%;
    }
  }
}

.skeleton {
  width: 16%;
  margin: 0 2% 24px 2%;
}

.cover,
.title,
.rating {
  background-image: linear-gradient(90deg, color-variant(bg) 25%, color-variant(bg-dark) 37%, color-variant(bg) 63%);
  background-size: 400% 100%;
  animation: skeleton-loading 1.2s ease infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0 50%
  }
}

.cover {
  position: relative;
  min-height: 87px;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    padding-top: 143%;
  }
}

.title {
  margin-top: 10px;
  width: 80px;
  height: 18px;
}

.rating {
  margin-top: 4px;
  width: 110px;
  height: 12px;
}
