.item {
  width: 16%;
  margin: 0 2% 30px 2%;
  padding: 0;
  font-size: font-variant(normal-size);

  a {
    text-decoration: none;
    color: color-variant(dark);
  }
}

.cover {
  position: relative;
  min-height: 87px;
  overflow: hidden;
  color: transparent;
  background-color: color-variant(bg);
  transition: all 0.3s ease;

  &:before {
    content: "";
    display: block;
    padding-top: 143%;
  }

  :global(.LazyLoad),
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    border-radius: 0;
    box-shadow: none;
  }

  &:hover {
    box-shadow: 0 1rem 2.1rem rgba(48, 55, 66, .3);
  }
}

.title,
.rating {
  color: color-variant(dark);
  font-size: font-variant(normal-size);
  line-height: font-variant(line-height);
}

.title {
  margin-top: 10px;
}

.rating,
.stars {
  display: flex;
  align-items: center;
}

.rating {
  margin-top: 2px;
  color: color-variant(gray);
  font-size: font-variant(small-size);
}

.ratingNumber {
  margin-left: 5px;
}
